// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Override
$form-label-margin-bottom: 0.125rem;
$modal-xl: 1300px;

// Layout
$sidebar-width: 300px;
$sidebar-shrinked-width: 60px;
$sidebar-bg-color: #0A2558;
$sidebar-submenu-bg-color: #0a224a;
