.cursor-pointer {
    cursor: pointer;
}

.nav-link {
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}


.dropdown {   

    .dropdown-item {
        
        display: flex;
        align-items: center;
        cursor: pointer;

        &:hover:not(.active) {
            background-color: var(--bs-secondary-bg);
        }
    }


}