.table-years tr td:not(:first-child),
.table-years tr th:not(:first-child) {
    text-align: center;
}

.table-years thead {

    // background: #f1f3f5;

    tr th:not(:first-child) {
        position: relative;
        border-right: 1px solid #dee2e6;
        border-left: 1px solid #dee2e6;
        width: 125px;
        vertical-align: middle;
    }

    .dropdown {
        // position:absolute;
        // right: 5px;
        // top:4px;

        button {
            color: var(--bs-gray-500);

            &:hover, &:active, &.show {
                color: var(--bs-gray-700);
            }

        }

        .dropdown-item:hover {
            background-color: var(--bs-secondary-bg);
        }

    }
}

table thead {

    th.sortable {

        position: relative;
        user-select: none;

        &:before, &:after {
            position: absolute;
            color: white;
            display: block;
            bottom: 0.6rem;
            font-size: 15px;
            opacity: 0.5;
        }

        &:not(.ascending, .descending) {
            &:before {
                content: "\2191";
            }
            &:after {
                content: "\2193";
            }
        }

        &.ascending:before, &.descending:before {
            content: attr(data-sort-position);
            font-size: 10px;
            background: white;
            opacity: 1;
            color: black;
            border-radius: 999px;
            width: 1rem;
            text-align: center;
            height: 1rem;
            top: calc(50% - 8px);
        }


        &:before {
            right: 1.2rem;
        }

        &:after {
            right: 0.5rem;
        }

        &.ascending:after{
            content: "\2193";
            opacity: 1;
        }
        &.descending:after {
            content: "\2191";
            opacity: 1;
        }
    }
}


table {
    th.show-record {
        width: 50px;
        text-align: center;
    }    
}

